* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dfdfdf;
  min-height: 100vh;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 25px;
  border: 2px solid black;
  margin: 5px 8px;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

.nav a {
  color: black;
  padding: 0 10px;
}

.nav-border {
  border-right: 2px solid black;
  padding-right: 10px;
}

.nav a:hover {
  color: blue;
}

main {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.bg {
  padding: 1em;
  border-bottom: #d2d2d2 solid 1px;
}

#todo-section {
  background-color: #fcfafa;
  width: 30em;
  font-size: large;
  box-shadow: 2px 2px 15px black;
}

#todo-section h2 {
  color: #3d3d3d;
  font-weight: 400;
}

#description,
.borderless {
  border: unset;
  width: 20em;
  padding: 0.2em;
  font-size: large;
  font-style: italic;
  background-color: unset;
}

.todo label,
.borderless,
#clear label {
  font-size: 1.2em;
  padding-left: 1em;
  color: #303030;
}

#clear label {
  color: #6c6c6c;
}

#description:active,
#description:focus,
.borderless:active,
.borderless:focus {
  outline: unset;
}

input[type="checkbox"] {
  scale: 1.4;
  cursor: pointer;
}

.todo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#clear,
#clear label {
  text-align: center;
  cursor: pointer;
}

.bg-brown {
  background-color: #ffffc6;
}

#add-btn {
  float: right;
  border: unset;
  background-color: unset;
}

.cancelled {
  text-decoration: line-through;
}

.hidden {
  display: none;
}
